.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.QuestionText {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}
.AnswerBox {
  width: 40%;
}
.Question {
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #7698d0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.selected {
  font-size: 20px;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding-top: 40px;
}
.selectBox {
  margin-bottom: 30px;
}
