.App {
  text-align: center;
}

.paper_config {
  width: 80%;
  margin: auto;
  padding: 5px;
}

.config_title{
  direction: rtl;
  width: 20%;
  margin: auto;
}

.config_textField{
  direction: rtl;
  width: 80%;
}

